## Build results
bin/
obj/

## VS Code
.vscode/

## VS
.vs/

## Rider
.idea/

## User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

## OS
.DS_Store
Thumbs.db

## Logs
*.log

## Test results
TestResults/

## NuGet
*.nupkg
.nuget/
packages/

## Others
*.cache
*.dbmdl
**/appsettings.*.local.json
