<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper">
  <settings>
    <setting useStatementNamespaces="true"/>
  </settings>

  <providers embedded="SurveyApp.API.SqlMaps.providers.config, SurveyApp.API"/>

  <database>
    <provider name="sqlServer1.1"/>
    <dataSource name="Primary" connectionString="${connectionString}" />
  </database>

  <sqlMaps>
    <sqlMap embedded="SurveyApp.API.SqlMaps.Users.xml, SurveyApp.API"/>
    <sqlMap embedded="SurveyApp.API.SqlMaps.Surveys.xml, SurveyApp.API"/>
    <sqlMap embedded="SurveyApp.API.SqlMaps.Options.xml, SurveyApp.API"/>

  </sqlMaps>
</sqlMapConfig>
